<!DOCTYPE HTML>
<html>
	<head>
		<title>FootWiz</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">FootWiz</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Home</a></li>
                      <li><a href="/leagues">Standings</a></li>
                      <li><a href="/livescore">Live Scores</a></li>
                      <li><a href="/login">Login</a></li>
                      <li><a href="/createAccount">Sign Up</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>League Standings</h2>
						</header>
						<section class="wrapper style5">
							<div class="inner">
                <section>
                  <h4>Season: {{season}}</h4>

                  <form method="post" action="/addToFav">
                    <input type="hidden" name="season" id="season" value={{season}} />
                    <input type="hidden" name="league" id="league" value={{league}} />
                    <div class="col-12">
                        <ul class="actions">
                          <li><button class="button primary">Favorite<i class="fa fa-heart"></i></button></li>
                        </ul>
                    </div>
                  </form>
                  
                  <p></p>

                  <section>
                    <div id="wg-api-football-standings"
                          data-host="v3.football.api-sports.io"
                          data-league={{league}}
                          data-team=""
                          data-season={{season}}
                          data-key="918f77748056929b5e2a60ceb6f4ad4e"
                          data-theme="grey"
                          data-show-errors="false"
                          class="api_football_loader"></div>
                      <script
                          type="module"
                          src="https://widgets.api-sports.io/football/1.1.8/widget.js">
                      </script>
                    
                  </section>
                  <div class="col-4 col-12-small">
												<input type="radio" id="demo-priority-low" name="demo-priority" unchecked>
												<label for="demo-priority-low">Light Mode - implement functionality</label>
                  </div>

                  <div class="col-4 col-12-small">
												<input type="radio" id="demo-priority-low" name="demo-priority" checked>
												<label for="demo-priority-low">Dark Mode</label>
                  </div>
								</section>
							</div>
              
              
						</section>

            
					</article>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Neil Chawla</li><li>CS 484, Fall '21</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
      

	</body>
</html>